.infoBox{
    flex: 1;
    cursor: pointer;
}

/* all the elements will margin to right 15 pixels but the last child won't */

.infoBox:not(:last-child){
    margin-right: 15px;
}

.infoBox__cases{
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75;
    margin-bottom: 0.5rem;
}
.infobox--selected{
    border-top: 10px solid greenyellow;
}

.infobox--red{
    border-color: red;
}

.infoBox__cases--green{
    color: lightgreen !important;
}

/* !important é usado para forçar que o css use essa propriedade */
/* e como a prioridade maior é do material ui então é necessário usa-lo */

.infoBox_total{
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}